@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(143, 255, 216);
  --color-secondary: rgb(212, 237, 228);
  --color-gradient: linear-gradient(135deg, #bd7f2e 0%, #30AA30 48%, #1f6959 100%);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--color-secondary);
  background: var(--color-gradient);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.hero-title {
  font-size: 7rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 2.5rem auto;
  text-align: center;
  line-height: 1.4;
  color: var(--color-secondary);
  font-weight: 400;
  opacity: 0.9;
}

.hero-section {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-section {
  position: relative;
  z-index: 1;
}
