@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(143, 255, 216);
  --color-secondary: rgb(212, 237, 228);
  --background-color: hsl(158, 23%, 18%);
  --background-start: #3a6a39;
  --background-end: #2d5229;
  --gradient-start: #233831;
  --gradient-end: #1a2a25;
  --color-gradient: linear-gradient(
    180deg,
    transparent 0%,
    hsla(158, 23%, 18%, 0.013) 9.7%,
    hsla(158, 23%, 18%, 0.049) 18.1%,
    hsla(158, 23%, 18%, 0.104) 25.5%,
    hsla(158, 23%, 18%, 0.175) 31.9%,
    hsla(158, 23%, 18%, 0.259) 37.7%,
    hsla(158, 23%, 18%, 0.352) 43%,
    hsla(158, 23%, 18%, 0.45) 47.9%,
    hsla(158, 23%, 18%, 0.55) 52.8%,
    hsla(158, 23%, 18%, 0.648) 57.7%,
    hsla(158, 23%, 18%, 0.741) 63%,
    hsla(158, 23%, 18%, 0.825) 68.7%,
    hsla(158, 23%, 18%, 0.896) 75%,
    hsla(158, 23%, 18%, 0.951) 82.2%,
    hsla(158, 23%, 18%, 0.987) 90.5%,
    hsl(158, 23%, 18%) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--color-secondary);
  background: var(--background-color);
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  font-feature-settings: "ss01" on, "ss02" on, "ss03" on;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.hero-title {
  font-size: 7rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 2.5rem auto;
  text-align: center;
  line-height: 1.4;
  color: var(--color-secondary);
  font-weight: 400;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4.5rem;
  }

  .subtitle {
    font-size: 1.25rem;
    margin: 2rem auto;
  }
}

.hero-section {
  background: var(--color-gradient);
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-section {
  background: hsl(158, 23%, 18%);
  position: relative;
  z-index: 1;
}
